.container {
  max-width: $website-width;
  margin: auto;
  padding: 0 1.5rem;
}

.text-center {
  text-align: center;
}

// Padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

.l-heading {
  font-size: 2rem;
}

.m-heading {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  font-family: "Prata", sans-serif;
  background-color: $btn-color;
  color: set-text-color($btn-color);
  padding: 0.8rem 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    background-color: darken($btn-color, 10%);
  }
}

a {
  text-decoration: none;
  color: $dark-text-color;
}

ul {
  list-style: none;
}
