@import "config";
@import "utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Prata&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Inter", sans-serif;
}

p {
  color: $dark-text-color;
  font-size: 0.9rem;
  line-height: 1.4;
}

.heading {
  color: #fff;
  font-family: "Prata", sans-serif;
}

#main-header {
  background: $primary-color;
}

// Navbar
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-logo {
    font-size: 1rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li a {
      padding: 1rem;
    }
  }
}

// Who
#who {
  display: grid;
  grid-template-columns: 7fr 4fr;

  .heading {
    margin-bottom: 0.5rem;
  }
}

// Logos
#logos {
  display: flex;
  justify-content: space-between;

  img {
    width: 8%;
  }
}

// Projects
#projects {
  @include grid();

  .heading {
    padding-bottom: 0.5rem;
  }

  img {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
  }
}

// About
#about {
  background-color: $secondary-color;
  .container {
    column-count: 2;
    column-gap: 3rem;

    p {
      margin-bottom: 1rem;
    }
  }
}
