@import "config";
@import "utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Prata&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Prata", sans-serif;
}

#main-header {
  background: $primary-color;
}

// Navbar
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-logo {
    font-size: 1rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li a {
      padding: 1rem;
    }
  }
}

// Logos
#logos {
  display: flex;
  justify-content: space-between;

  img {
    width: 8%;
  }
}
